<div class="card-container">
  <a class="card" rel="noopener" href="associate/add/new">

    <button mat-raised-button color="primary">Add New Associate</button>

  </a>
  <br>
  <br>

  <a class="card" rel="noopener" href="view-referrals/-1">

    <button mat-raised-button color="primary">View All Referrals</button>

  </a>
</div>
<table mat-table [dataSource]="associates" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
   <!-- Position Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit</th>
    <td mat-cell *matCellDef="let element"> <a href="edit-associate/{{element.associate_id}}"><mat-icon >mode_edit</mat-icon></a> </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="associate_id">
      <th mat-header-cell *matHeaderCellDef> Associate Id</th>
      <td mat-cell *matCellDef="let element"> {{element.associate_id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="associate_name">
      <th mat-header-cell *matHeaderCellDef> Associate Name </th>
      <td mat-cell *matCellDef="let element"> {{element.associate_name}} </td>
    </ng-container>
  
    
    <!-- Name Column -->
    <ng-container matColumnDef="associate_referral_code">
        <th mat-header-cell *matHeaderCellDef> Referral Code </th>
        <td mat-cell *matCellDef="let element"> {{element.associate_phone_number}} </td>
      </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="view-referrals">
    <th mat-header-cell *matHeaderCellDef> View Referrals </th>
    <td mat-cell *matCellDef="let element"><a class="card" rel="noopener" href="view-referrals/{{element.associate_id}}">

      <button mat-raised-button color="primary">View {{element.associate_name}} Referrals</button>
  
    </a>  </td>
  </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>