<img src="https://madrasmarketstorage.blob.core.windows.net/productimages/Logo_Banner_MM.jpeg" alt="logo" style="width:300px;height: 200px;margin-top: -100px;"/>

<form class="example-form" >
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="User Name" [(ngModel)]="user_name" name="user_name" #ctrl="ngModel">
  
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password"
            #ctrl="ngModel"/>
  
    </mat-form-field>
    <br>
    
    <button mat-raised-button color="darkgray" (click)="onSubmit()" style="float: left;">
        Login</button>
  </form>